*{
  padding: 0;
  margin: 0;
  user-select: none;
}
section.bgcolor {
    background: #007E69;
    padding-top: 12px;
    color: #fff;
    font-size: 20px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    position: sticky;
    top: -40px;
    z-index: 100;
}
span.icon {
    float: right;
}
.seconddiv {
    padding: 15px 0 7px;
    display: table;
    width: 100%;
}
.camera {
    width: fit-content;
    float: left;
    padding-right: 10px;
}
.menu {
    float: left;
    width: auto;
}
a.btnpage {
    color: #dedede;
    font-size: 15px;
    font-weight: 600;
    padding: 7px 17px;
}
a.btnpage:hover {
    color: #fff;
    text-decoration: none;
}
span.newm {
    background: #fff;
    color: #007e69;
    text-align: center;
    border-radius: 50%;
    padding: 0px 7px;
}
.countstatus{
  border: 2px dotted #ddd;
    padding: 1px;
}
.active {
    color: #fff !important;
    border-bottom: 3px solid;
}
.newid {
    padding: 15px 0 10px;
    cursor: pointer;
}
img.iconimg {
    border-radius: 50%;
    width: 50px;
    margin-right: 18px;
    height: 50px;
}
.img {
    width: fit-content;
    float: left;
}
.name {
    font-weight: 600;
}
span.new {
    color: #25d366;
}
span.time {
    float: right;
    font-size: 13px;
    padding-top: 2px;
}
.sendid {
    font-size: 14px;
    color: #6b6666;
    height: 22px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.newid:hover {
    background: #f3f3f3;
}
span.count {
    float: right;
    background: #25d366;
    border-radius: 50%;
    width: 21px;
    color: #fff;
    text-align: center;
}
.double {
    color: #53bdeb;
}
.mic {
    color: #25d366;
}
.newuser {
    background: #007e69;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50%;
    top: auto;
    bottom: 26px;
    position: fixed;
    z-index: 9999;
    right: 25px;
}
.newtext {
    background: #e0e0e0;
    color: #434343;
    padding: 10px 15px;
    border-radius: 50%;
    top: auto;
    bottom: 80px;
    position: fixed;
    z-index: 9999;
    right: 25px;
}
.circle {
    color: #f00;
}
span.viewed {
    font-weight: 500;
    color: #717171;
}
span.addstatus {
    position: absolute;
    background: #007e69;
    color: #fff;
    border-radius: 50%;
    padding: 0px 5px;
    margin: 27px;
    border: 2px solid #fff;
}
span.videocall {
    color: #007e69;
    float: right;
    padding-top: 5px;
    font-size: 17px;
}
span.send {
    color: #007e69;
}
span.rsend {
    color: #f00;
}
.modal-dialog {
    width: fit-content !important;
    margin-top: 25% !important;
}
.modelimg{
    border-radius: 0px !important;
    overflow: hidden;
}
img#image {
    width: 354px;
}
.modal-body {
    padding: 0 !important;
}
span.uid {
    width: 100%;
    background: #dddddd52;
    padding: 10px 14px 11px 16px;
    color: #ffffff;
    position: fixed;
    z-index: 9999;
}
a.aid {
    color: #000;
}
a.aid:hover {
    text-decoration: none;
    color: #000;
}
.usid {
    padding-bottom: 16px;
    padding-top: 12px;
}
section.bcolor {
    background: #007E69;
    color: #fff;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    position: sticky;
    top: 0px;
    z-index: 100;
}
a.goback {
    color: #fff;
}
a.goback:hover {
    color: #fff;
    text-decoration: none;
}
.titleid {
    color: #fff;
}
.iduser {
    font-size: 10px;
}
span.idicon {
    float: right;
    padding-top: 10px;
}
.messbg {
    width: 100%;
    background: url(./image/16.jpeg);
    height: 100%;
    padding-bottom: 30px;
    min-height: 600px;
    background-repeat: round;
    background-attachment: fixed;
}
.messbox {
    width: fit-content;
    background: #fff;
    padding: 10px;
    color: #b2b2b2;
    border-radius: 25px;
    float: left;
}
.micro {
    float: left;
    background: #007e69;
    color: #fff;
    padding: 11px 16px;
    border-radius: 50%;
    margin-left: 10px;
}
.mess {
    position: fixed;
    top: auto;
    bottom: 0;
    background: #e0d7d0;
    padding: 5px;
    width: 100%;
    margin-left: -16px;
}
input.boxmess {
    border: none;
    width: 160px;
}
input.boxmess:focus {
    outline: none;
}
.chatmess {
    background: #d1f4cc;
    width: 70%;
    padding: 0px 13px;
    border-radius: 8px 0 8px 8px;
    float: right;
    margin-top: 11px;
    margin-right: 30px;
}
span.sendtime {
    font-size: 12px;
    float: right;
    margin: 17px 6px 4px;
    color: #6a6a6a;
}
span.sidesend {
    position: absolute;
    z-index: 0;
    display: block;
    width: 10px;
    height: 13px;
    right: 20px;
    color: #d1f4cc;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    border: 1px solid;
    background: #d1f4cc;
}
.sendm1 {
    position: absolute;
    top: 60px;
    /* bottom: 0px; */
    right: 20px;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 70px;
}
button.sendbtn {
    border: 0;
    background: none;
    color: #fff;
}
button.sendbtn:focus {
    outline: none;
}
